APP_NAME="Daily Grow"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DEBUGBAR_ENABLED=false
TELESCOPE_ENABLED=false

SETTINGS_REQUEST_NOTIFS_EMAIL=

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=ads
DB_USERNAME=ads_user
DB_PASSWORD=password

DOUBLEGIS_SERVICE_ACCOUNT_LOGIN=
DOUBLEGIS_SERVICE_ACCOUNT_PASSWORD=

YANDEX_SERVICE_ACCOUNT_LOGIN=
YANDEX_SERVICE_ACCOUNT_PASSWORD=

GOOGLE_SERVACC_LOYALTY_PROJECT_ID=
GOOGLE_SERVACC_LOYALTY_PKEY_ID=
GOOGLE_SERVACC_LOYALTY_PKEY="-----BEGIN PRIVATE KEY-----

-----END PRIVATE KEY-----"
GOOGLE_SERVACC_LOYALTY_CLIENT_EMAIL=
GOOGLE_SERVACC_LOYALTY_CLIENT_ID=
GOOGLE_SERVACC_LOYALTY_CLIENT_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/
GOOGLE_PAY_ISSUER_ID=

APPLE_WALLET_CERT_PATH=
APPLE_WALLET_CERT_PASS=
APPLE_WALLET_TEAM_IDENTIFIER=
APPLE_WALLET_PASS_TYPE_IDENTIFIER=

PROSTO_SMS_API_KEY=
PROSTO_SMS_SENDER=DailyGrow
PROSTO_SMS_PRIORITY=1

ROBOKASSA_PASSWORD_1=
ROBOKASSA_PASSWORD_2=
ROBOKASSA_MERCHANT_ID=
ROBOKASSA_TEST=false

AMOCRM_INTEGRATION_ID=
AMOCRM_SECRET_KEY=
AMOCRM_REDIRECT_URL=

DOUBLE_GIS_KEY=37c04fe6-a560-4549-b459-02309cf643ad

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADSENSE_DEV_TOKEN=

SOURCE_YANDEX_CLIENT_ID=
SOURCE_YANDEX_CLIENT_SECRET=

SOURCE_VK_CLIENT_ID=
SOURCE_VK_CLIENT_SECRET=

SOURCE_AVITO_CLIENT_ID=
SOURCE_AVITO_CLIENT_SECRET=

YOOKASSA_MARKET_ID=
YOOKASSA_MARKET_SECRET=

GOOGLE_API_KEY=

TELEGRAM_BOT_KEY=
TELEGRAM_BOT_NAME=dailygrow_bot

BROADCAST_DRIVER=log
CACHE_DRIVER=redis
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=redis
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
